@model Cines_Flagg.Models.Usuario
@{
    ViewData["Title"] = "Login";
}

<!-- Agregar referencias a los archivos de sonido -->
<audio id="errorSound" src="~/sounds/error.mp3"></audio>
<!-- Script para reproducir el sonido -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js"></script>
<script>
    function playSound(soundId) {
        var sound = document.getElementById(soundId);
        sound.play();
    }

    // Verificar si se debe reproducir el sonido después del inicio de sesión exitoso
    $(document).ready(function () {
        var playLoginSound = JSON.parse('@Html.Raw(Json.Serialize(TempData["PlayErrorSound"] ?? false))');
        if (playLoginSound) {
            playSound('errorSound');
        }
    });
</script>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar sesión</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
       <head>
        <!-- ... Otras etiquetas ... -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" type="image/png" href="../img/icono.png">
    </head>
</head>
<body>
    <div class="container p-auto">
        <div class="row my-auto">
            <div class="col-4 p-3 mx-auto my-auto card">
                <h2>Iniciar sesión</h2>
                @if (TempData["Mensaje"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Mensaje"]
                    </div>
                }
                @if (TempData["MensajeErrorLogin"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["MensajeErrorLogin"]
                    </div>
                }
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Mail" class="control-label"></label>
                        <input name="mail" asp-for="Mail" class="form-control" required />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                        @Html.ValidationMessageFor(m => m.Mail, "", new { @class = "text-danger"})
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input name="password" asp-for="Password" class="form-control" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>