@model IEnumerable<Cines_Flagg.Models.Funcion>
@{
    ViewData["Title"] = "Compra";

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ABM Funciones</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <head>
        <!-- ... Otras etiquetas ... -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" type="image/png" href="../img/icono.png">
    </head>
</head>
<body>
   
<div class="container">
    <div class="row">
        <div class="col-md-12">
        @if (TempData["Mensaje"] != null)
        {
           <div class="alert alert-warning">
               @TempData["Mensaje"]
           </div>        
        }
            <h2 class="text-center">@ViewBag.NombrePelicula</h2>
        </div>
    </div>
    <div class="row">      
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body"> 
                    
                 <div class="table-responsive-sm">
                    <table class="table table-bordered">
                    <thead>
                          <tr>
                            <th>Sala</th>
                            <th>Fecha</th>
                            <th>Costo</th>
                            <th>Comprar</th>                            
                          </tr>
                    </thead>
                    <tbody>
                        @foreach (var funcion in Model)
                         {
                          <tr> 
                            <td type="number" name="idFuncion" id="idFuncion" hidden>@funcion.ID</td>
                            <td>@funcion.MiSala.Ubicacion</td>
                            <td>@funcion.Fecha.Date.ToString("dd-MM-yyyy")</td>
                            <td>@funcion.Costo</td>                            
                            <td><form method="post"  asp-controller="Cartelera" asp-action="ComprarEntrada" >
                                <input type="number" id="idFuncion" name="idFuncion" value="@funcion.ID" readonly/>
                                <input type="number" id="cant" name="cant" required/>
                                <button type="submit"class="btn btn-danger">Comprar</button>
                                </form>
                            </td>     
                          </tr>
                           }
                    </tbody>
                    </table>
                </div>   

                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>