@model IEnumerable<Cines_Flagg.Models.Funcion>
@{
    ViewData["Title"] = "Compra";

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Busqueda por Sala</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <head>
        <!-- ... Otras etiquetas ... -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" type="image/png" href="../img/icono.png">
    </head>
</head>
<body>
   
<div class="container">
    <div class="row">
        <div class="col-md-12">
        @if (TempData["MensajeCompra"] != null)
        {
           <div class="alert alert-warning">
               @TempData["MensajeCompra"]
           </div>        
        }
            <h2 class="text-center">@ViewBag.Ubicacion</h2>
        </div>
    </div>
    <div class="row">
        <div class="container mt-4 d-flex justify-content-center">
          <form class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" id="search-input">
            </div>
          </form>
       </div>
    </div>

        <div class="row">
            <div class="col-md-12 mt-4 mx-auto">
                <div class="card border border-5 border-danger">
                    <div class="card-body"> 
                    
                     <div class="table-responsive-sm">
                        <table class="table table-bordered" id="tabla-funciones">
                        <thead>
                              <tr>
                                <th>Pelicula</th>
                                <th>Sinopsis</th>
                                <th>Duracion</th>
                                <th>Fecha</th>
                                <th>Costo</th>
                                <th>Comprar</th>                            
                              </tr>
                        </thead>
                        <tbody>
                            @foreach (var funcion in Model)
                             {
                              <tr> 
                                <td type="number" name="funcionID" id="funcionID" hidden>@funcion.ID</td>
                                <td>@funcion.MiPelicula.Nombre</td>       
                                <td><details><summary>Ver</summary><p>@funcion.MiPelicula.Sinopsis</p></details></td>
                                <td>@funcion.MiPelicula.Duracion</td>
                                <td>@funcion.Fecha.Date.ToString("dd-MM-yyyy")</td>
                                <td>$@funcion.Costo</td>                            
                                <td><form method="post" id="comprar" asp-controller="Cartelera" asp-action="ComprarEntrada" >
                                    <input type="number" id="idFuncion" name="idFuncion" value="@funcion.ID" readonly hidden/>
                                    <input type="number" id="cant" name="cant" required/>
                                    <button type="submit" class="border-0 bg-white"><img type="submit" src="/img/compra.png" height="50px" width="50px" /></button>
                                    </form>
                                </td>     
                              </tr>
                               }
                        </tbody>
                        </table>
                    </div>   

                    </div>
                </div>
            </div>
        </div><img src="C:\Users\asolo\Downloads\compra.png" />
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script>
          // Input de busqueda
            $(document).ready(function(){
              $("#search-input").keyup(function(){
              _this = this;
          // Muestra solo el tr que encuentra y oculta el resto
            $.each($("#tabla-funciones tbody tr"), function() {
            if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
            $(this).hide();
              else
            $(this).show();
              });
            });
          });
        </script>

</body>
</html>