
@model List<Sala>
@{
    ViewData["Title"] = "Salas";
}
<!-- Agregar referencias a los archivos de sonido -->
<audio id="loginSound" src="~/sounds/Loginw.mp3"></audio>
<!-- Script para reproducir el sonido -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js"></script>
<script>
    function playSound(soundId) {
        var sound = document.getElementById(soundId);
        sound.play();
    }

    // Verificar si se debe reproducir el sonido después del inicio de sesión exitoso
    $(document).ready(function () {
        var playLoginSound = JSON.parse('@Html.Raw(Json.Serialize(TempData["PlayLoginSound"] ?? false))');
        if (playLoginSound) {
            playSound('loginSound');
        }
    });
</script>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <style>
        .pelicula-poster {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .pelicula-container {
            position: relative;
        }

        .poster-container {
            position: relative;
            overflow: hidden;
        }

            .poster-container::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 2;
            }

            .poster-container:hover::before {
                background-color: rgba(0, 0, 0, 0.7);
                opacity: 1;
            }

        .sinopsis-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 3;
        }

        .poster-container:hover .sinopsis-container {
            opacity: 1;
        }

        .pelicula-poster {
            position: relative;
            z-index: 1;
        }
    </style>


    <title>Cartelera por Sala</title>
</head>
<body>
    <div class="container">
        <div class="container d-flex justify-content-center align-items-center" style="height: 10vh;">
            <div class="container d-flex justify-content-center align-items-center" style="height: 10vh;">
                <h2 class="text-center text-primary mt-4 fw-bold text-enorme">
                    <i class="fas fa-film icono-enorme"></i> Salas <span class="text-warning">Cines Flagg <i class="fas fa-film icono-enorme"></i></span>
                </h2>
            </div>
        </div>
        @if (TempData["MensajeCompra"] != null)
            {
                <div class="alert alert-warning">
                    @TempData["MensajeCompra"]
                </div>
            }
    </div>

    <div class="container mt-5">
        <div class="row">

            @foreach (var sala in Model)
            {
                <div class="col-md-3">
                    <div class="pelicula-container">
                        <a asp-action="CompraSala" asp-route-nombreUbicacion="@sala.Ubicacion">

                            <div class="poster-container">
                                <img src="/img/LogoSala.jpg" alt="sala" class="img-fluid pelicula-poster" />

                                <div class="sinopsis-container">

                                    <p class="sinopsis">@sala.Ubicacion</p>

                                </div>

                            </div>
                        </a>
                        <p class="fw-bold">@sala.Ubicacion</p>
                    </div>
                </div>

            }

        </div>
    </div>

</body>
</html>

