
@model List<Pelicula>
@{
    ViewData["Title"] = "Cartelera";
}
<!-- SONIDO DE LOGIN -->
<audio id="loginSound" src="~/sounds/Loginw.mp3"></audio>
<!-- Script para reproducir el sonido -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js"></script>
<script>
    function playSound(soundId) {
        var sound = document.getElementById(soundId);
        sound.play();
    }

    // Verificar si se debe reproducir el sonido después del inicio de sesión exitoso
    $(document).ready(function () {
        var playLoginSound = JSON.parse('@Html.Raw(Json.Serialize(TempData["PlayLoginSound"] ?? false))');
        if (playLoginSound) {
            playSound('loginSound');
        }
    });
</script>

<!-- SONIDO DE COMPRA -->
<audio id="compraSound" src="~/sounds/compra_existosa.mp3"></audio>
<script>
    function playSound(soundId) {
        var sound = document.getElementById(soundId);
        sound.play();
    }

    // Verificar si se debe reproducir el sonido después del inicio de sesión exitoso
    $(document).ready(function () {
        var playCompraSound = JSON.parse('@Html.Raw(Json.Serialize(TempData["playCompraSound"] ?? false))');
        if (playCompraSound) {
            playSound('compraSound');
        }
    });
</script>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <style>
        .pelicula-poster {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .pelicula-container {
            position: relative;
        }

        .poster-container {
            position: relative;
            overflow: hidden;
        }

            .poster-container::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0);
                opacity: 0;
                transition: opacity 0.3s ease;
                z-index: 2;
            }

            .poster-container:hover::before {
                background-color: rgba(0, 0, 0, 0.7);
                opacity: 1;
            }

        .sinopsis-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 3;
        }

        .poster-container:hover .sinopsis-container {
            opacity: 1;
        }

        .pelicula-poster {
            position: relative;
            z-index: 1;
        }
    </style>


    <title>Cartelera</title>
</head>
<body>
    <div class="container">
        <div class="container d-flex justify-content-center align-items-center" style="height: 10vh;">
            <h2 class="text-center text-primary mt-4 fw-bold text-enorme">
                <i class="fas fa-film icono-enorme"></i> Cartelera <span class="text-warning">Cines Flagg <i class="fas fa-film icono-enorme"></i></span>
            </h2>
        </div>
        @if (TempData["MensajeCompra"] != null)
            {
                <div class="alert alert-warning">
                    @TempData["MensajeCompra"]
                </div>
            }
    </div>

    <div class="container mt-2">
        <div id="carouselHome" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-home" data-slide-to="1"></li>
                <li data-target="#carousel-home" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.todoshowcase.com/images/sliders/0000001379.jpg" class="d-block w-100" alt="Imagen 1">
                </div>
                <div class="carousel-item">
                    <img src="https://www.todoshowcase.com/images/sliders/0000001383.jpg" class="d-block w-100" alt="Imagen 2">
                </div>
                <div class="carousel-item">
                    <img src="https://www.todoshowcase.com/images/sliders/0000001378.jpg" class="d-block w-100" alt="Imagen 3">
                </div>

            </div>

            <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">

            @foreach (var pelicula in Model)
            {
                <div class="col-md-3">
                    <div class="pelicula-container">
                        <a asp-action="Compra" asp-route-nombrePelicula="@pelicula.Nombre">

                            <div class="poster-container">
                                <img src="@pelicula.Poster" alt="@pelicula.Nombre" class="img-fluid pelicula-poster" />

                                <div class="sinopsis-container">

                                    <p class="sinopsis">@pelicula.Sinopsis</p>

                                </div>

                            </div>
                        </a>
                        <p class="fw-bold">@pelicula.Nombre</p>
                    </div>
                </div>

            }

        </div>
    </div>




    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000
            });
        });
    </script>

</body>
</html>

