@model Cines_Flagg.Models.UsuarioFuncion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UsuarioFuncion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiUsuario.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiFuncion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiFuncion.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadCompra)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
