@model IEnumerable<Cines_Flagg.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ABM Peliculas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <head>
        <!-- ... Otras etiquetas ... -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" type="image/png" href="../img/icono.png">
    </head>
</head>
<body>
    <div class="container">

<h1>Listado de Peliculas</h1>

<p>
    <a asp-action="Create">Crear nueva Pelicula</a>
</p>
        <div class="card">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
                        <th>Editar|Ver|Eliminar</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">
                                    <img src="/img/editar.png" alt="Editar" width="40px" height="40px" />
                                </a>
                                <a asp-action="Details" asp-route-id="@item.ID"><img src="/img/ver.png" alt="Detalles" width="40px" height="40px" /></a>
                                <a class="text-danger" asp-action="Delete" asp-route-id="@item.ID"> <img src="/img/eliminar.png" alt="Eliminar" width="40px" height="40px" /></a>
                            </td>
        </tr>
}
    </tbody>
</table>
        </div>
  </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>