@model Cines_Flagg.Models.Usuario
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Registro</h2>
        @using (Html.BeginForm("Index", "Cartelera", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(m => m.Nombre)
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Apellido)
                @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DNI)
                @Html.TextBoxFor(m => m.DNI, new { @class = "form-control" })
            </div>

            <div class="form-group">
               @Html.LabelFor(m => m.FechaNacimiento)
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Mail)
                @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
