@model IEnumerable<Cines_Flagg.Models.UsuarioFuncion>
@{
    ViewData["Title"] = "MisFunciones";
}

<!-- SONIDO DE DEVOLUCION -->
<audio id="playDevol" src="~/sounds/devolucion.mp3"></audio>
<!-- Script para reproducir el sonido -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.js"></script>
<script>
    function playSound(soundId) {
        var sound = document.getElementById(soundId);
        sound.play();
    }

    // Verificar si se debe reproducir el sonido después del inicio de sesión exitoso
    $(document).ready(function () {
        var playDevol = JSON.parse('@Html.Raw(Json.Serialize(TempData["playDevol"] ?? false))');
        if (playDevol) {
            playSound('playDevol');
        }
    });
</script>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ABM Funciones</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />

<h1 class="center">Mis Funciones</h1>
<!DOCTYPE html>
        <!-- ... Otras etiquetas ... -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="icon" type="image/png" href="../img/icono.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <title>Mis Funiones</title>
</head>

<body>
    <div class="container">
        <h2>Historial</h2>
        <div class="row">
        @if (TempData["MensajeDevolver"] != null)
        {
          <div class="alert alert-warning">
              @TempData["MensajeDevolver"]
         </div>        
        }
             <div class="table-responsive-sm">
                <table class="table table-bordered">
                    <thead>
                          <tr>
                            <th>Pelicula</th>
                            <th>Funcion</th>
                            <th>Sala</th>
                            <th>Fecha</th>
                            <th>Entradas</th>
                            <th>Costo</th>
                            <th>Devolver</th>
                          </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuarioFuncion in Model)
                         {
                          <tr>                            
                            <td>@usuarioFuncion.MiFuncion.MiPelicula.Nombre</td>
                            <td>@usuarioFuncion.idFuncion</td>
                            <td>@usuarioFuncion.MiFuncion.MiSala.Ubicacion</td>
                            <td>@usuarioFuncion.MiFuncion.Fecha</td>
                            <td>@usuarioFuncion.cantidadCompra</td>
                            <td>@usuarioFuncion.MiFuncion.Costo</td>
                                <td>
                                    <form asp-action="devolverEntrada" asp-controller="MiUsuario" asp-action="devolverEntrada">
                                        <input type="number" id="idFuncion" name="idFuncion" value="@usuarioFuncion.idFuncion" readonly hidden />
                                        <input type="number" id="cantidad" name="cantidad" required />
                                        <button method="post" type="submit" class="btn btn-danger">Devolver</button>
                                    </form>
                                </td>
                            </tr>
                           }
                    </tbody>
                </table>
            </div>            
        </div>        
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
       
</body>
</html>
